body{
    margin: 0;
    padding: 0;
    background-color: #36393F;
}

.bot-info{
    position: absolute;
    background-color: #18191C;
    width: 50%;
    height: 80%;
    left: 25%;
    top: 10%;
    border-radius: 15px;
}

.bot-info .header{
    border-radius: 15px 15px 0 0;
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: #a27d58;
}

.bot-info .header .info .bot-avatar{
    position: absolute;
    width: 27%;
    border-radius: 50%;
}

.bot-info .header .info{
    position: absolute;
    background-color: #18191C;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-radius: 250px 0% 0% 250px;
}

.bot-info .header .info .text{
    position: absolute;
    width: 40%;
    height: 40%;
    font-family: inherit;
    left: 30%;
    top: 30%;
}

.bot-info .header .info .text .name{
    position: absolute;
    font-family: inherit;
    font-size: 20px;
    color: white;
}